{% extends 'base.html.twig' %}

{% block title %}Edit Beetle{% endblock %}

{% block content %}
    <h1>Edit Beetle</h1>

    <form method="post" enctype="multipart/form-data">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Save</button>
        {{ form_end(form) }}
    </form>
    {% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
    <img src="{{ asset('uploads/pictures/' ~ beetle.getPictureFilename()) }}" alt="{{ beetle.getName() }}">
    <a href="{{ path('list_beetles') }}" class="btn btn-secondary">Back to List</a>
</div>
{% endblock %}