{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <h2>List of Beetles</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Lineage</th>
                    <th>Name</th>
                    <th>Gen</th>
                    <th>Sex</th>
                    <th>Date</th>
                    <th>Length</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for beetle in beetles %}
                    <tr>
                        <td>{{ beetle.lineage }}</td>
                        <td>{{ beetle.name }}</td>
                        <td>{{ beetle.gen }}</td>
                        <td>{{ beetle.sex }}</td>
                        <td>{{ beetle.date|date('Y-m-d') }}</td>
                        <td>{{ beetle.length }}</td>
                        <td>
                            <a href="{{ path('edit_beetle', { 'id': beetle.id }) }}" class="btn btn-primary">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
